body{
    background-image: linear-gradient(#0756B1,#037EDD);
}
header{
    background-color: black;
    width: 100%;
    height: 1cm;
    color: white;
    margin-top: -0.2cm;
}
header p{
    margin-left: 0.2cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    padding-top: 0.3cm;
    
}
header p a{
    text-decoration: none;
    color: white;
}
header div p{
    color: white;
    text-align: center;
    margin-top: -1cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
}
header div a{
    color: white;
    float: right;
    margin-right: 1cm;
    font-family: Titillium Web,sans-serif;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 2px;
    margin-top:-0.6cm;
    text-decoration: none;
    
}
.top{
    width: 100%;
    background-color: #0E376F;
    height: 1.8cm;
}
.top img{
width: 8%;
}
.top p{
   
    margin-left: 2cm;
    text-decoration-style:solid;
    color: white;
    font-family: Titillium Web,sans-serif;
    font-weight: 700;
    font-size: 50px;
    margin-top: -1.8cm;
    margin-left: 2.7cm;
}
.top ul{
    float: right;
    margin-right: 6cm;
    margin-top:-2.5cm;
}
.top ul li{
    color: #000;
    display: inline;
    margin-right: 2cm;
    margin-left: 1cm;
 
   
}
.top ul li a{
   text-decoration:none ;
   color: white;
   text-decoration-style:solid;
   font-family: Titillium Web,sans-serif;
}
.container img{
    margin-left: 0.5cm;
    width: 50%;
}
.container p{
    margin-top: -6cm;
    margin-left: 0.5cm;
    color: #fff;
    text-decoration-style:solid;
    font-family: Titillium Web,sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    width :50%;
}
.login{
    float: right;
    display: inline;
    
    margin-top: -11cm;
}
.login p{
    font-size: 0.5cm;
    text-align: center;
}
.login button{
    background-image: linear-gradient(#FB691E,#FB8E55);
    height:1.2cm;
    width: 2cm;
}
.login input{
    height:1cm;
}
.art img{
    width:12cm;
    float: right;
    height:12cm;
    margin-right: 7cm;
    margin-top: -10cm;
    
}
.art2{
    width: 30%;margin-left: 21.5cm;
    height: 3cm;
    margin-top: -2cm;
    color: #fff;
    text-decoration-style:solid;
    font-family: Titillium Web,sans-serif;
}
.sponsors img{
  float: right;  
  margin-left: 19cm; 
  width: 6cm;
  margin-top: -9cm;
}
.img1{
    padding-top: 3cm;
}
footer img{
    width: 8cm;
    align-items: center;
    margin-left: 16cm;
    margin-top: 0.5cm;
}
footer h3{
    font: 2.25em sans-serif;
    text-decoration-style: solid;
    color:white;
    text-align: center;
}
footer p{
    font: 2em sans-serif;
    text-decoration-style: solid;
    color:white;
    text-align: center;
}